body {
    background-color: #000;
    background-image:
        radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px),
        radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
        radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
        radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    animation: move-stars 200s linear infinite;
    color: white;
    font-family: 'Menlo', 'Consolas', 'Courier New', monospace;
}

@keyframes move-stars {
    from {
        background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    }
    to {
        background-position: -10000px 5000px, -10000px 5000px, -10000px 5000px, -10000px 5000px;
    }
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
